{
    "organization": "",
    "port": 8081,
    "secret": "",
    "log": {
        "console": true,
        "file": false,
        "level": "debug",
        "stack": true,
        "verbose": true
    },
    "baseURL": "http://localhost/wiki",
    "db": {
        "host": "localhost",
        "port": 28015
    },
    "etu": {
        "baseURL": "https://etu.utt.fr/api/",
        "id": "",
        "secret": ""
    }
}
