/* Modal */

#deleteConfirm {
    overflow: visible;
}

#deleteConfirm .modal-content {
    overflow: visible;
    z-index: 4000;
}

#deleteConfirm .dropdown-content {
    z-index: 100;
}

#deleteConfirm .dropdown-content li {
    line-height: 0.75rem;
}

.categories .mdi-content-clear {
    cursor: pointer;
    font-weight: bold;
}
