.home {
    padding-top: 50px;
}

/* Modal */

#createArticle {
    min-height: 350px;
    overflow: visible;
}

#createArticle .modal-content {
    overflow: visible;
    z-index: 4000;
}

#createArticle .dropdown-content {
    z-index: 100;
}

#createArticle .dropdown-content li {
    line-height: 0.75rem;
}

/* Search results */

.home li .collection {
    border: none;
    margin: 0.5rem 0;
}

.home .highlight {
    font-weight: bold;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.home .collection .collection-item {
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.home .collection .collection-item.active {
    color: #eafaf9 !important;
}

.home .collection .collection-item.active .highlight {
    color: #eafaf9 !important;
}
