.home {
    padding-top: 50px;
}

.home li .collection {
    border: none;
    margin: 0.5rem 0;
}

.home .highlight {
    font-weight: bold;
}

.home .collection .collection-item.active {
    color: #eafaf9 !important;
}

.home .collection .collection-item.active .highlight {
    color: #eafaf9 !important;
}
