#zen {
    padding: 0 10px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#deleteConfirm p {
    margin-bottom: 30px;
}

.target ul {
    padding-left: 15px;
}

.target ul, .target ul li {
    list-style-type: disc;
}
